    
body{

font-family: 'Caveat', cursive;
font-family: 'Open Sans', sans-serif;
}


h1{

font-family: 'syne Caveat', cursive;
/*font-family: 'Open Sans', sans-serif;*/

}


.boton-down1{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 27px;
}



.cards{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 27px;
}

.h1{
  font-family: 'syne Caveat', cursive;
  font-size: 50px;
}


.h4-formulario{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 27px;
}


.h1-2{
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

.h1_logo{
  font-family: 'syne Caveat', cursive;
  font-size: 50px;
}



.text-h1{
  position: absolute;
  width: 216px;
  /*height: 40px;*/
  bottom: -186px;
  font-style: 50px;
  font-family: arial,helvetica;

}

/* Icono de redes sociales */

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 5px 9px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;


}
/*Facebook*/

.facebook {
  border-color: #009CD9;
  color: #009CD9;
}

.facebook:hover {
  background-color: #009CD9;
  color: white;
}


/*Instagram*/
.instagram {
  border-color: #B72C2C;
  color: #B72C2C;
}

.instagram:hover {
  background-color: #009CD9;
  color: white;
}



/*Youtube*/
.youtube {
  border-color: #D8AD3D;
  color: #D8AD3D;
}

.youtube:hover {
  background-color: #D8AD3D;
  color: yellow;
}




  .principal {
  font-size: 16px;
  min-height: 40.62em;
  /*color: #fff;*/
/*  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/hero.png);*/
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
}

.pprincipal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em;
}

.principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 3.4em;
}

.principal .titulo-img {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 3.4em;
}

.principal .titulo-img{

font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 3.4em;
}


.-principal {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}


/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px;
  }

  header .contenedor {
    flex-direction: column;
    text-align: center;
  }

}

.h1-text{
  position: relative;
  bottom: -191px;

}


.img-fraja1{
  position: relative;
  width:  700px;
  display: flex;
  left: -204px;
  top: -58px;
}

.img-fraja-contacto{
   width:  487px;
  display: flex;
  left: -204px;
  top: -58px;
}

.img-fraja-articulo{
  width:  694px;
  display: flex;
  left: -204px;
  top: -58px;
}


.img-fraja3{
  width:  700px;
  display: flex;
  left: 346px;
  top: 13;
}



/*Contenedores de colores */


.card {
 width: 140px;
 height: 170px;
 /*padding: .8em;*/
 background: #f5f5f5;
 border-radius: .5rem;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.card-color {
 background-color: #24272A;
 height: 75%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;

}


.card1 {
 width: 140px;
 height: 170px;
 /*padding: .8em;*/
 background: #f5f5f5;
 border-radius: .5rem;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.card-color1 {
 background-color: #3F454A;
 height: 75%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;

}

.card2 {
 width: 140px;
 height: 170px;
 /*padding: .8em;*/
 background: #f5f5f5;
 border-radius: .5rem;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.card-color2 {
 background-color: #D8AD3D;
 height: 75%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;

}


.card3 {
 width: 140px;
 height: 170px;
 /*padding: .8em;*/
 background: #f5f5f5;
 border-radius: .5rem;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.card-color3 {
 background-color: #009CD9;
 height: 75%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;

}

.card4 {
 width: 140px;
 height: 170px;
 /*padding: .8em;*/
 background: #f5f5f5;
 border-radius: .5rem;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.card-color4 {
 background-color: #B72C2C;
 height: 75%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;

}

.card5 {
 width: 140px;
 height: 170px;
 /*padding: .8em;*/
 background: #f5f5f5;
 border-radius: .5rem;
 position: relative;
 overflow: visible;
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.card-color5 {
 background-color: #D9D9D9;
 height: 75%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;

}



/*Text*/
.text-color {
 font-weight: 900;
 font-size: 1.2em;
 line-height: 1.5;
 text-align: center;
}


/*Hover*/
.card-color:hover {
 transform: translateY(-25%);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-color1:hover {
 transform: translateY(-25%);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-color2:hover {
 transform: translateY(-25%);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-color3:hover {
 transform: translateY(-25%);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-color4:hover {
 transform: translateY(-25%);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-color5:hover {
 transform: translateY(-25%);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
